.sections {
    position: absolute;
    top: 10%; /* رفع الأزرار للأعلى */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
}

.section {
    position: relative;
    width: 100px; /* تحكم في حجم الأزرار */
    height: 100px;
}

.section img {
    width: 100%;
    height: auto;
}

.section .hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.section:hover .default {
    display: none;
}

.section:hover .hover {
    display: block;
}
